@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dash-bg: #0f051d;
  --color-dash-purple: #1a0b2e;
  --color-neon-pink: #ff00d4;
  --color-neon-cyan: #00f2ff;
  --color-dash-card: #2d1b4d;
}

@layer base {
  body {
    margin: 0;
    font-family: sans-serif;
  }
}
html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}
